<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Cadastro de Pacientes</title>
</head>
<body>
<header th:replace="fragments/header.html"></header>
<div class="container">
    <h1 class="my-4">Cadastro de Pacientes</h1>

    <form th:action="${paciente.id == null} ? @{/paciente/salvar} : @{/paciente/update}" th:object="${paciente}" method="post">

        <input type="hidden" th:field="*{id}" required class="form-control">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" th:field="*{nome}" required class="form-control">
        </div>

        <div class="mb-3">
            <label for="cpf" class="form-label">CPF:</label>
            <input type="text" th:field="*{cpf}" required class="form-control">
        </div>

        <div class="mb-3">
            <label for="telefone" class="form-label">Telefone:</label>
            <input type="text" th:field="*{telefone}" required class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <div class="text-center">
            <a th:href="@{/paciente/listar}" class="btn btn-secondary">Voltar para a Lista</a>
        </div>
    </form>
</div>
<footer th:replace="fragments/footer.html"></footer>

</body>
</html>
