<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lista de Médicos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="http://localhost:8080/">Meu App de Médicos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="container">
    <h1 class="my-4">Lista de Médicos</h1>

    <table class="table">
        <thead>
        <tr>
            <th>CRM</th>
            <th>Nome</th>
            <th colspan="2">Ação</th>
            <div class="text-center">
                <a th:href="@{/medico/cadastrar}" class="btn btn-success">Cadastrar Novo Médico</a>
            </div>
        </tr>
        </thead>
        <tbody>
        <tr th:each="medico : ${medicos}">
            <td th:text="${medico.crm}"></td>
            <td th:text="${medico.nome}"></td>
            <td><a th:href="@{/medico/editar(id=${medico.id})}" class="btn btn-primary">Editar</a></td>
            <td><a th:href="@{/consulta/listaCrm(id=${medico.id})}" class="btn btn-primary">Consultas</a></td>
            <td><a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"
                   th:href="@{/medico/remover/{id}(id=${medico.id})}" class="btn btn-danger">Excluir</a></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
